
@charset "UTF-8";

tr > *{
    padding: 5px;
    text-align: center;
    &:nth-child(odd){
        background-color: #edecff;
    }
    &:nth-child(even){
        background-color: #d9f1ff;
    }
}

.change{
    margin: 10px;
    a{
        display: inline-block;
        margin: 10px;
    }
}